body {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border-width: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

.loader {
  display: block;
    margin: 0 auto;
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #f4c39d;
    box-shadow: 30px 0 0 #99c2ff;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #99c2ff;
    box-shadow: 30px 0 0 #f4c39d;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 rgb(184, 232, 155);;
    }
    50% {
      box-shadow: 0 0 0 rgb(184, 232, 155);;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 rgb(184, 232, 155);;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #f5adc3;
    }
    50% {
      box-shadow: 0 0 0 #f5adc3;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f5adc3;
      margin-top: 0;
    }
  }
  

/* home page */

.header {
  background-color: #f2f2f2;
}

.header__wrapper {
  padding: 20px 80px;
}

.header__link-list {
  display: flex;
  justify-content: space-between;
}

/* mobile menu */

.header__wrapper {
  z-index: 55;
}

.header__mobile-menu {
  position: absolute;
  background-color: #f2f2f2;
  max-height: 500px;
  left: 0;
  right: 0;
  top: 60px;
  transform: translateY(-1000px);
  transition: transform 0.7s;
  z-index: 20;
}

.header__mobile-menu.active {
  transform: translateY(0);
  transition: transform 0.7s;
}

.header__mobile-item {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__mobile-link {
  display: inline-block;
  padding: 13px 20px;
}

.header__logo {
  display: none;
  transition: all 0.5s;
}

.header__logo:active {
  transform: translateX(3px);
}

.header__logo:hover {
  opacity: 0.5;
}

.header__burger-btn {
  display: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.header__burger-btn.active .header__burger-span::before {
  width: 22px;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

.header__burger-btn.active .header__burger-span {
  background-color: transparent;
}

.header__burger-btn.active .header__burger-span::after {
  width: 22px;
  top: -1px;
  transform: rotate(-45deg);
}

.header__burger-span {
  position: relative;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  transition: background-color 0.3s;
}

.header__burger-span::before,
.header__burger-span::after {
  content: '';
  display: block;
  position: relative;
  width:22px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s;
}

.header__burger-span::before {
  top: -7px;
}

.header__burger-span::after {
  top: 5px;
}

.header__logo {

}

/* mobile menu ends*/

.header__link-item {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__link {
  transition: color 0.3s;
}

.header__link-item:not(:last-of-type){
  margin-right: 20px;
}

.header__link::focus {

}

.header__link::hover {

}

.header__link-item:active {
  transform: translateX(2px);
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.aboutme__section {
  min-height: calc(100vh - 121px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme__image-container {
  margin-right: 50px;
  width: 450px;
  height: 450px;
}

.aboutme__image {
  object-fit: cover;
  width: 450px;
  height: 450px;
}

.aboutme__column {
  max-width: 550px;
  width: 100%;
}

.aboutme__title {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  margin-bottom: 40px;
}

.aboutme__description {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}

.aboutme__link-list {
  display: flex;
}

.aboutme__link-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.5s;
  position: relative;
}

.aboutme__link-item:not(:last-child) {
  margin-right: 50px;
}

.aboutme__link-item:nth-child(1) {
  color: #0066ff;
  background-color: #99c2ff;
  border: 2px solid #99c2ff;
}

.aboutme__link-item:nth-child(2) {
  color: rgb(227, 114, 24);
  background-color: #f4c39d;
  border: 2px solid #f4c39d;
}


.aboutme__link-item:nth-child(3) {
  color: #e73d71;
  background-color: #f5adc3;
  border: 2px solid #f5adc3;
}

.aboutme__span {
  display: block;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.aboutme__span::before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  left: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid rgb(184, 232, 155);; 
}

/* .aboutme__link-item:focus {
  
} */

.aboutme__link-item:hover {
  background-color: #ffffff;
  transform: translateY(-6px);
}

.aboutme__link-item:nth-child(1):active {
  background-color: rgba(153, 194, 255, 0.3);
}

.aboutme__link-item:nth-child(2):active {
  background-color: rgba(244, 195, 157, 0.3);
}

.aboutme__link-item:nth-child(3):active {
  background-color: hwb(342 68% 4% / 0.3);
}

.aboutme__link {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #333333;
  padding: 20px 80px;
}

.footer__content {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
}

.footer__link:hover {
  color: rgb(201, 199, 199);
}

/* portfolio page */
.portfolio__section {
  min-height: calc(100vh - 121px);
}

.portfolio__content {
  position: relative;
}

.portfolio__slider-inner {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.portfolio__list {
  display: flex;
  transition: all 0.5s;
}

.portfolio__list:hover .portfolio__image {
  opacity: 0.6;
}

.portfolio__list:hover .portfolio__text {
  opacity: 1;
}

.portfolio__image-container {
  width: 600px;
}

.portfolio__image {
  width: 100%;
  height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
  transition: all 0.5s;
  z-index: 10;
}

.portfolio__button-prev {
  position: absolute;
  left: 90px;
  top: 300px;
  transition: all 0.5s;
}

.portfolio__button-prev::before {
    color:#333333;
    content: "❮❮";
    transition: all 0.5s;
}

.portfolio__button-next {
  position: absolute;
  right: 90px;
  top: 300px;
  transition: all 0.5s;
}

.portfolio__button-next::after {
    color:#333333;
    content: "❯❯";
    transition: all 0.5s;
}

.portfolio__button-prev:hover, 
.portfolio__button-next:hover {
  color: #e37218;
}

.portfolio__button-prev:hover.portfolio__button-prev::before, 
.portfolio__button-next:hover.portfolio__button-next::after{
  color: #e37218;
}

.portfolio__button-prev:active, 
.portfolio__button-next:active {
  transform: translateX(8px);
}

.portfolio__subtitle {
  text-align: center;
  font-size: 24px;
  max-width: 600px;
  width: 100%;
}

.portfolio__descr-text {
  margin-top: 10px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

/* blog */

.blog__section {
  min-height: calc(100vh - 121px);
}

.blog__article-list>li:not(:last-child) {
  margin-bottom: 50px;
}

.blog__article-subtitle {
  font-size: 24px;
  text-transform: uppercase;
}

.blog__article-link {
  display: inline-block;
  font-size: 20px;
  color: blue;
  border-bottom: 1px solid blue;
  margin-bottom: 10px;
}

.blog__article-date {
  font-style: italic;
  font-size: 16px;
}

/* article */
.article__section {
  min-height: calc(100vh - 121px);
}

.article__content {
  margin-bottom: 40px;
}

.article__title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.article__image {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.article__text {
  max-width: 700px;
  margin: 0 auto;
}

/* .article__nav  {
  display: flex;
  justify-content: space-between;
} */

/* 404 */

.not-found__img {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.not-found__link {
  display: block;
  text-align: center;
  transition: color 0.5s;
}

.not-found__link:hover {
  color: rgb(184, 232, 155);
}

/* contacts */

.contacts__section {
  min-height: calc(100vh - 121px);
}

.contacts__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contacts__subtitle {
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.contacts__img {
  max-width: 450px;
  width: 100%;
  margin-right: 30px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__label {
  margin-bottom: 30px;
}

.contacts__input {
  width: 100%;
  border: 3px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  transition: all 0.5s;
}

.contacts__input:focus {
  border-color: #81d0cf;
}

.contacts__input:active {
  
}

.contacts__input:hover {
  background-color:rgba(129, 208, 207, 0.1);
}

.contacts__input::placeholder {
  font-size: 18px;
  
}

.contacts__textarea {
  height: 130px;
  resize: vertical;
}

.contacts__button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  padding: 14px 14px;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: all 0.5s;
}

.contacts__button:focus {
  outline: 2px solid #81d0cf;
}

.contacts__button:active{
  transform: translateX(3px);
}

.contacts__button:hover{
  opacity: 0.7;
}

/* media queries */

@media (max-width: 1200px) {

  .aboutme__image-container {
    width: 300px;
    height: 300px;
  }

  .aboutme__image {
    width: 300px;
    height: 300px;
  }
  
  .aboutme__column {
    max-width: 400px;
  }
  
  .aboutme__title {
    font-size: 48px;
  }

  .aboutme__link-item {
    width: 100px;
    height: 100px;
  }

  .aboutme__link {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }
}
  
  @media (max-width: 992px) {
    .portfolio__slider-inner {
      width: 500px;
    }

    .portfolio__image-container {
      width: 500px;
    }
  
    .portfolio__image {
      width: 500px;
      height: 300px;
    }

    .portfolio__button-prev,
    .portfolio__button-next {
      top: 230px;
    }

    .portfolio__subtitle {
      max-width: 500px;
    }

    .portfolio__button-prev {
      left: 30px;
    }

    .portfolio__button-next {
      right: 30px;
    }

    .contacts__content {
      align-items: flex-start
    }
  }
  
  @media (max-width: 768px) {
    .section {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .title {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .header__wrapper {
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: top;
    }

    .header__link-list {
      display: none;
    }

    .header__mobile-menu {
      /* display: flex; */
    }

    .header__logo {
      display: flex;
    }

    .header__burger-btn {
      display: flex;
    }

    .aboutme__content {
      flex-direction: column;
      margin: 50px 0;
    }
    
    .aboutme__image-container {
      margin-right: 0;
      margin-bottom: 50px;
    }

    .aboutme__span {
      display: none;
    }

    .blog__title {
      margin-bottom: 40px;
    }

    .blog__article-text {
      font-size: 20px;
    }

    .portfolio__slider-inner {
      width: 400px;
    }
  
    .portfolio__image {
      width: 400px;
      height: 250px;
    }

    .portfolio__subtitle {
      max-width: 400px;
    }

    .portfolio__button-prev,
    .portfolio__button-next {
      font-size: 20px;
      top: 140px;
      padding: 10px 0;
    }

    .portfolio__button-prev {
      left: -10px;
    }

    .portfolio__button-next {
      right: -10px;
    }

    .contacts__content {
      flex-direction: column;
      align-items: center;
    }

    .contacts__img {
      max-width: 320px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .aboutme__link-list {
      flex-direction: column;
    }

    .aboutme__link-item {
      margin-right: 0;
      margin-bottom: 12px;
    }

    .portfolio__slider-inner {
      width: 270px;
    }
  
    .portfolio__image {
      width: 260px;
      height: 150px;
    }

    .portfolio__subtitle {
      max-width: 260px;
    }

    .portfolio__button-prev,
    .portfolio__button-next {
      padding: 12px 12px;
      top: 130px;
    }

    .portfolio__btn-span {
      display: none;
    }
  }

