body {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

/* home page */

.header {
  background-color: #f2f2f2;
}

.header__wrapper {
  padding: 20px 80px;
}

.header__link-list {
  display: flex;
  justify-content: space-between;
}

.header__link-item {
  font-size: 18px;
  text-transform: uppercase;
}

.header__link-item:not(:last-of-type){
  margin-right: 20px;
}

.header__link::focus {

}

.header__link::hover {

}

.header__link::active {

}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.aboutme__section {
  height: calc(100vh - 121px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme__image-container {
  margin-right: 50px;
}

.aboutme__image {
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 450px;
}

.aboutme__column {
  max-width: 550px;
  width: 100%;
}

.aboutme__title {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  margin-bottom: 40px;
}

.aboutme__description {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}

.aboutme__link-list {
  display: flex;
}

.aboutme__link-item {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.5s;
  position: relative;
}

.aboutme__link-item:not(:last-child) {
  margin-right: 50px;
}

.aboutme__link-item:nth-child(1) {
  color: #0066ff;
  background-color: #99c2ff;
  border: 2px solid #99c2ff;
}

.aboutme__link-item:nth-child(2) {
  color: #e37218;
  background-color: #f4c39d;
  border: 2px solid #f4c39d;
}


.aboutme__link-item:nth-child(3) {
  color: #e73d71;
  background-color: #f5adc3;
  border: 2px solid #f5adc3;
}

/* .aboutme__link-item:focus {
  
} */

.aboutme__link-item:hover {
  background-color: #ffffff;
  transform: translateY(-6px);
}

.aboutme__link-item:nth-child(1):active {
  background-color: rgba(153, 194, 255, 0.3);
}

.aboutme__link-item:nth-child(2):active {
  background-color: rgba(244, 195, 157, 0.3);
}

.aboutme__link-item:nth-child(3):active {
  background-color: hwb(342 68% 4% / 0.3);
}

.aboutme__link {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #333333;
  padding: 20px 80px;
}

.footer__content {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
}

/* portfolio page */



.portfolio__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.portfolio__item {
  height: 500px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.156);
  position: relative;
}

.portfolio__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.portfolio__image-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.portfolio__image-container::after{
  content: '';
  position: absolute;
  width:100%;
  height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 10;
  transition: opacity 0.5s;
}

.portfolio__subtitle {
  font-size: 24px;
  position: absolute;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  bottom: 0px;
  z-index: 20;
  transition: opacity 0.5s;
}

.portfolio__descr-text {
  margin-top: 15px;
  display: block;
  font-size: 16px;
}

.portfolio__link:hover .portfolio__subtitle {
  opacity: 1;
}

.portfolio__link:hover .portfolio__image-container::after {
  opacity: 0;
}





/* media queries */

@media (max-width: 1200px) {

  }
  
  @media (max-width: 992px) {
  
  }
  
  @media (max-width: 768px) {
  
  }
  
  @media (max-width: 576px) {
  
  }

